[mcu PCB]
serial:  /dev/serial/by-id/usb-Klipper_rp2040_E66138935F885D28-if00   #change to your serial id!




[adxl345]
cs_pin: PCB:gpio17
spi_bus: spi0c
axes_map: x,z,y

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20

[extruder]
sensor_type: MAX31865
sensor_pin: PCB:gpio13
spi_software_sclk_pin: PCB:gpio10
spi_software_mosi_pin: PCB:gpio11
spi_software_miso_pin: PCB:gpio12

rtd_nominal_r: 1000.0
rtd_reference_r: 4700.0
rtd_num_of_wires: 2
min_temp:  -30
max_temp: 500

[temperature_sensor enclosure_temp]
sensor_type: chamber_temp
sensor_pin: PCB:gpio29
min_temp: 0
max_temp: 100
gcode_id: C

[probe]
pin: ^PCB:gpio24
#pin: ^PCB:gpio24   //XES

[neopixel my_neopixel]
pin: PCB:gpio25
#chain_count:
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.